* {
    width: 960px;
}

body, html {
    color: black;
    font-size: 18px;
    line-height: 34px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: auto;
}


#game {
    margin-top: 20px;
    text-align: left;
}

.row {
    position:absolute; 
    bottom: 0px;
}

img {
    width: 100%;
    height: 100%;
}