body {
	background-image: url("../images/background.jpg");   
}

h1{
	background-color: rgb(53, 235, 17);
	color: white;
    text-align: center;
	margin-bottom: 20px;
	border: solid;
}

.card {
    margin-bottom: 20px;
}

#tmnt {
    background-color: white;
    margin-bottom:26px;
    text-align: center;
}

.tmntImage {
	height: 200px;
	border: solid 1px #272525;
	margin: 20px;
}

#pizzeEat {
	background-color: rgb(53, 235, 17);
	color: white;
    text-align: center;
	margin-bottom: 20px;
}